* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background: linear-gradient(195deg, #FF847D, #A96A9C, #475879) fixed;
  min-height: 100%;
  font-size: 100%; }

#sign {
  padding: 5rem;
  margin: 20vh auto 0;
  width: 60%;
  border: 1rem double #FF847D;
  border-radius: 2rem;
  -webkit-box-shadow: 5px 5px #2F4858;
          box-shadow: 5px 5px #2F4858;
  background: linear-gradient(165deg, #FF847D, #A96A9C, #475879) fixed; }

h1 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-family: "Press Start 2P", sans-serif;
  text-shadow: 5px 5px #2F4858; }

h2 {
  color: #FF847D;
  font-size: 2rem;
  text-align: center;
  margin: 5vh 0 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  text-shadow: 1px 1px #2F4858; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: 55%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  top: 50px;
  z-index: -1;
  -webkit-animation: drop 1s ease-in-out;
          animation: drop 1s ease-in-out; }
  nav a {
    color: white;
    text-decoration: none; }
  nav #portfolio {
    background-color: #475879;
    border: 0.25rem solid #FF847D;
    -webkit-box-shadow: 5px 5px #2F4858;
            box-shadow: 5px 5px #2F4858;
    padding: 1rem 2rem;
    border-radius: 1rem;
    z-index: -1;
    font-family: "Press Start 2P", sans-serif;
    text-shadow: 2px 2px #2F4858;
    color: white;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
    nav #portfolio:hover {
      background-color: #FF847D;
      border-color: #475879; }
  nav #resume {
    background-color: #475879;
    border: 0.25rem solid #FF847D;
    -webkit-box-shadow: 5px 5px #2F4858;
            box-shadow: 5px 5px #2F4858;
    padding: 1rem 2rem;
    border-radius: 1rem;
    z-index: -1;
    font-family: "Press Start 2P", sans-serif;
    text-shadow: 2px 2px #2F4858;
    color: white;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
    nav #resume:hover {
      background-color: #FF847D;
      border-color: #475879; }
  nav #about {
    background-color: #475879;
    border: 0.25rem solid #FF847D;
    -webkit-box-shadow: 5px 5px #2F4858;
            box-shadow: 5px 5px #2F4858;
    padding: 1rem 2rem;
    border-radius: 1rem;
    z-index: -1;
    font-family: "Press Start 2P", sans-serif;
    text-shadow: 2px 2px #2F4858;
    color: white;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
    nav #about:hover {
      background-color: #FF847D;
      border-color: #475879; }

@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    z-index: -1; }
  60% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }
  65% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  75% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  85% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  86% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px); }
  87% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px); }
  88% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px); }
  89% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px); }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  91% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px); }
  92% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }
  93% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px); }
  94% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }
  95% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px); }
  96% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  97% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px); }
  98% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  99% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
    z-index: -1; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    z-index: 1; } }

@keyframes drop {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    z-index: -1; }
  60% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }
  65% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  75% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  85% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  86% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px); }
  87% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px); }
  88% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px); }
  89% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px); }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  91% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px); }
  92% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }
  93% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px); }
  94% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }
  95% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px); }
  96% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  97% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px); }
  98% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  99% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
    z-index: -1; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    z-index: 1; } }
.rope1-left {
  display: block;
  position: absolute;
  bottom: 100%;
  padding-left: 8.75em; }

.rope1-right {
  display: block;
  position: absolute;
  bottom: 100%; }

.rope2-left {
  display: block;
  position: absolute;
  bottom: 100%;
  padding-left: 5.75em; }

.rope2-right {
  display: block;
  position: absolute;
  bottom: 100%; }

.rope3-left {
  display: block;
  position: absolute;
  bottom: 100%;
  padding-left: 7.5em; }

.rope3-right {
  display: block;
  position: absolute;
  bottom: 100%; }

@media (max-width: 1149px) {
  #sign {
    width: 80%; }

  nav {
    width: 75%; } }
@media (max-width: 970px) {
  #sign {
    width: 90%; }

  h1 {
    font-size: 2rem; }

  nav {
    width: 85%; }

  #portfolio {
    font-size: .9rem; }

  #resume {
    font-size: .9rem; }

  #about {
    font-size: .9rem; }

  .pixelart-to-css {
    display: none; } }
@media (max-width: 680px) {
  #sign {
    margin: 10vh auto 0;
    padding: 5rem 2rem; } }
@media (max-width: 660px) {
  nav {
    z-index: 1;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  #portfolio {
    margin: 1rem 0 .5rem;
    text-align: center; }
    #portfolio:hover {
      background-color: #FF847D;
      border-color: #475879; }

  #resume {
    margin: .5rem 0;
    text-align: center; }
    #resume:hover {
      background-color: #FF847D;
      border-color: #475879; }

  #about {
    margin: .5rem 0;
    text-align: center; }
    #about:hover {
      background-color: #FF847D;
      border-color: #475879; }

  .rope1-left {
    display: none; }

  .rope1-right {
    display: none; }

  .rope2-left {
    display: none; }

  .rope2-right {
    display: none; }

  .rope3-left {
    display: none; }

  .rope3-right {
    display: none; } }
@media (max-width: 560px) {
  #sign {
    margin: 5vh auto 0;
    padding: 2rem 2rem; }

  h1 {
    line-height: 1.5em; }

  h2 {
    font-size: 1.5rem; } }

/*# sourceMappingURL=index.css.map */