// SCSS variables

$light: #FF847D;
$medium: #A96A9C;
$dark: #475879;
$shadow: #2F4858;

$display: 'Press Start 2P', sans-serif;
$body: 'Montserrat', sans-serif;

// Portfolio page content styles

section {
  width: 96%;
  margin: 1rem auto;
  background-color: rgba(255,255,255, 0.75);
  border-radius: 1rem;
  box-shadow: 5px 5px $medium;
}

h3 {
  font-family: $body;
  font-weight: 200;
  font-size: 1.5rem;
  color: $shadow;
  padding: 1rem;
  border-bottom: 1px dashed $shadow;
}

#thumbs {
  padding: 1rem 2rem;
  background-color: rgba(255,255,255,0.25);
  margin-bottom: 1rem;
  border-bottom: 1px dashed $shadow;
}

.thumb-container {
  display: inline-block;
  width: 10.5%;
  max-width: 7.5rem;
  margin: 0 .75%;
}

.thumb {
  width: 100%;
  max-width: 100%;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .5;
    &:hover {
    animation: bounce .5s linear;
    opacity: 1;
    filter: unset;
  }
  transition: all .25s linear;
}

.thumbact {
  width: 100%;
  max-width: 100%;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  opacity: 1;
}

.intro {
  width: 100%;
  max-width: 100%;
  border-radius: .5rem;
  opacity: .75;
}

.thumb-caption {
  font-family: $body;
  color: black;
  font-weight: 400;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  font-size: .75rem;
  text-align: center;
  text-transform: uppercase;
  opacity: .65;
}

.site {
  background-color: rgba(255,132,125, 0.55);
}

.email {
  background-color: rgba(169,106,156, 0.55);
}

.blank {
  visibility: hidden;
}

figure {
  display: flex;
  flex-direction: row;
  width: 96%;
  padding: 0 2rem 2rem;
  #imgLink {
    flex-basis: 50%;
    max-width: 50%; 
  }
  img {
    width: 100%;
    max-width: 100%;
    display: inline-block;
    border: 1px solid $medium;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 .75rem .75rem;
    padding: .5rem;
    font-family: $body;
    color: $medium;
    border-bottom: 1px dashed $medium;
    line-height: 1.5em;
  }
  
  p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 1rem;
    font-family: $body;
    color: $shadow;
    padding-bottom: 1rem;
  }
  a {
    color: $shadow;
    text-decoration-skip: ink;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  ul {
    margin-left: 3rem;
    margin-bottom: 2rem;
  }
  li {
    font-family: $body;
    color: $shadow;
    list-style: square;
  }
}

article {
  flex-basis: 50%;
}

#projLink {
  display: block;
  text-align: center;
  font-family: $display;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px $shadow;
  background-color: $medium;
  border: .25rem solid $light;
  box-shadow: 5px 5px $dark;  
  padding: 1rem;
  margin: 2rem;
  border-radius: 1rem;
    &:hover {
    background-color: $light;
    border-color: $medium;
  }
  transition: all 0.25s linear;
}

#repoLink {
  display: block;
  text-align: center;
  font-family: $display;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px $shadow;
  background-color: $medium;
  border: .25rem solid $light;
  box-shadow: 5px 5px $dark;  
  padding: 1rem;
  margin: 2rem;
  border-radius: 1rem;
    &:hover {
    background-color: $light;
    border-color: $medium;
  }
  transition: all 0.25s linear;
}

@media(max-width:700px) {
  figure {
    width: 100%;
    flex-direction: column;
    #imgLink {
    flex-basis: 100%;
    max-width: 100%;
      img {
        width: 100%;
        max-width: 100%;
      }
    }
    h4 {
      padding-top: 1.25rem;
    }
  }
  .thumb-container {
    width: 16%;
    max-width: 7.5rem;
    margin: 0 .75% .5rem;
  }
}

@media(max-width:550px) {
  .thumb-container {
    width: 21%;
    max-width: 7.5rem;
    margin: 0 .5% .5rem;
  }
}

.hide {
  visibility: hidden;
}