// SCSS variables

$light: #A9BCD0;
$medium: #58A4B0;
$dark: #373F51;
$shadow: #1B1B1E;

$display: 'Neuton', sans-serif;
$body: 'Montserrat', sans-serif;

// Resume page content styles

section {
  width: 96%;
  margin: 0 auto 1rem;
  background-color: rgba(255,255,255, 0.75);
  box-shadow: 5px 5px $medium;
}

h3 {
  font-family: $body;
  font-weight: 600;
  font-size: 1.5rem;
  color: $shadow;
  padding: 1rem 1rem .5rem 2rem;
  border-bottom: 1px solid $medium;
}

article {
  font-family: $body;
  font-size: 1rem;
  color: $shadow;
  padding: 1rem 2rem 1rem 0;
  ul {
    list-style: square;
    margin-top: .5rem;
    padding-left: 2rem;
    li {
      margin-left: 2rem;
    }
  }
  h5, h6, p {
    padding-left: 2rem;
  }
}

a {
  color: $shadow;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


#res-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  i {
    color: white;
    text-align: center;
    height: 3rem;
    width: 3rem;
    padding: .5rem;
    margin-left: 1rem;
    background-color: $medium;
    border-radius: .4rem;
    &:hover {
      background-color: $light;
      animation: wiggle .5s linear;
    }
  transition: all .25s linear;
  }
  h6 {
    font-size: 1rem;
    margin-left: 1rem;
    color: $shadow;
  }
}

#webadd {
  display: none;
}

h4 {
  font-family: $body;
  background-color: $dark;
  margin-bottom: 1rem;
  padding: .25rem;
  margin-left: -.5rem;
  color: white;
  text-indent: 1rem;
}

h5 {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

p {
  font-size: 1rem;
  margin-left: 1rem;
}

.job-summary {
  margin: 1.5rem 0 1.5rem 1rem;
}

#skills {
  width: 100%;
  list-style: none;
  margin-left: 1rem;
  li {
    display: inline-block;
    background-color: rgba(88, 164, 176, .25);
    padding: 1rem;
    margin: .5rem;
  }
  .skill {
    color: $dark;
  }
}

@media(max-width:600px) {
  #skills {
    max-width: 100%;
  }
  #skills li {
    border-bottom: 1px dashed $medium;
    padding-bottom: .25rem;
    margin-bottom: .25rem;
  }
}

@media(max-width:450px) {
  #res-head {
    flex-direction: column;
    justify-content: space-between;
    i {
      margin-top: 1rem;
    }
}

}