// SCSS variables and general content styles

$light: #A9BCD0;
$medium: #58A4B0;
$dark: #373F51;
$shadow: #1B1B1E;

$display: 'Neuton', sans-serif;
$body: 'Montserrat', sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(195deg, $light, $medium, $dark) fixed;
  min-height: 100%;
  font-size: 100%;
}

#toggle {
  position: absolute;
  top: 5px;
  right: 15px;
  text-align: right;
  font-family: $body;
  color: white;
  img {
    height: 40px;
    width: 60px;
  }
  p {
    font-size: .75rem;
    text-align: center;
  }
}

// Header styles

header {
  width: 100%;
  margin: 0 auto .5rem;
}

h1 {
  min-width: 5em;
  display: inline-block;
  color: white;
  font-size: 3rem;
  font-family: $display;
  padding: .5rem .5rem .5rem 2rem;
  text-shadow: 3px 3px $shadow;
  a {
    color: white;
    text-decoration: none;
  }
}

h2 {
  font-family: $body;
  padding: 0 1rem .5rem;
  color: white;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 200;
  text-shadow: 2px 2px $shadow;
}

#icons {
  float: right;
  margin: 1.5rem 90px 1rem 1rem;
  display: inline-flex;
  flex-direction: row;
  i {
    padding: 0 .5rem;
    color: $shadow;
    &:hover {
      color: white;
      animation: wiggle .5s linear;
    }
    transition: color .25s linear;
  }
}

nav {
  clear: both;
  background-color: $dark;
  padding: 0;
  width: 100%;
  background: url("../images/nav-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  a {
    width: 100%;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;     
    position: relative;    
    z-index: 1; 
    padding: 2.5rem 0;
  }
  li {
    font-size: 1.25rem;
    flex-grow: 1;
    text-align: center;
    list-style: none;
    font-family: $body;
    text-shadow: 2px 2px $shadow;
    color: $light;
    padding: 0;
    background: rgba(0, 0, 0, .4);
    &:hover {
      background: rgba(255, 255, 255, .4);
    }
    &:hover a {
      color: $shadow;
      font-weight: bold;
      text-shadow: 0 0 5px white;
    }
    transition: color 0.25s ease-out;
  }
}

// Animation keyframes

@keyframes bounce {
  0% {
    transform: translateY(0)
  }
  10% {
    transform: translateY(2px)
  }
  15% {
    transform: translateY(1px)
  }
  25% {
    transform: translateY(0)
  }
  50% {
    transform: translateY(-5px)
  }
  100% {
    transform: translateY(0)
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(5deg)
  }
  10% {
    transform: rotate(10deg)
  }
  20% {
    transform: rotate(5deg)
  }
  30% {
    transform: rotate(0)
  }
  40% {
    transform: rotate(-5deg)
  }
  50% {
    transform: rotate(-10deg)
  }
  60% {
    transform: rotate(-5deg)
  }
  70% {
    transform: rotate(0)
  }
  80% {
    transform: rotate(5deg)
  }
  90% {
    transform: rotate(2.5deg)
  }
  100% {
    transform: rotate(0)
  }
}

// Navigation media queries

@media(max-width:470px) {
  h1 {
    padding-left: 1rem;
  }
  nav ul {
    li {
      text-align: center;
      font-size: 1rem;
      padding: 1.25rem .25rem;
      margin: 0 .25rem;
    }
  }
  #icons {
    margin: .5rem 1rem;
  }
}

// Footer styles

footer {
  font-family: $body;
  color: white;
  font-size: .9rem;
  text-align: center;
  padding: 0 0 .5rem;
}

// Insert FA external link icon after external link
#projDesc a[target="_blank"]:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: .8rem;
    color: $medium;
    content: " \f35d";
}