* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background: linear-gradient(195deg, #A9BCD0, #58A4B0, #373F51) fixed;
  min-height: 100%;
  font-size: 100%; }

#toggle {
  position: absolute;
  top: 5px;
  right: 15px;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  color: white; }
  #toggle img {
    height: 40px;
    width: 60px; }
  #toggle p {
    font-size: .75rem;
    text-align: center; }

header {
  width: 100%;
  margin: 0 auto .5rem; }

h1 {
  min-width: 5em;
  display: inline-block;
  color: white;
  font-size: 3rem;
  font-family: "Neuton", sans-serif;
  padding: .5rem .5rem .5rem 2rem;
  text-shadow: 3px 3px #1B1B1E; }
  h1 a {
    color: white;
    text-decoration: none; }

h2 {
  font-family: "Montserrat", sans-serif;
  padding: 0 1rem .5rem;
  color: white;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 200;
  text-shadow: 2px 2px #1B1B1E; }

#icons {
  float: right;
  margin: 1.5rem 90px 1rem 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  #icons i {
    padding: 0 .5rem;
    color: #1B1B1E;
    -webkit-transition: color .25s linear;
    transition: color .25s linear; }
    #icons i:hover {
      color: white;
      -webkit-animation: wiggle .5s linear;
              animation: wiggle .5s linear; }

nav {
  clear: both;
  background-color: #373F51;
  padding: 0;
  width: 100%;
  background: url("../images/nav-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  nav ul a {
    width: 100%;
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 2.5rem 0; }
  nav ul li {
    font-size: 1.25rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    text-shadow: 2px 2px #1B1B1E;
    color: #A9BCD0;
    padding: 0;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out; }
    nav ul li:hover {
      background: rgba(255, 255, 255, 0.4); }
    nav ul li:hover a {
      color: #1B1B1E;
      font-weight: bold;
      text-shadow: 0 0 5px white; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  10% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }
  15% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px); }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  10% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }
  15% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px); }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  10% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  20% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  30% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  40% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg); }
  60% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); }
  70% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  80% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  90% {
    -webkit-transform: rotate(2.5deg);
            transform: rotate(2.5deg); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }
@keyframes wiggle {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  10% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  20% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  30% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  40% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg); }
  60% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); }
  70% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  80% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  90% {
    -webkit-transform: rotate(2.5deg);
            transform: rotate(2.5deg); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }
@media (max-width: 470px) {
  h1 {
    padding-left: 1rem; }

  nav ul li {
    text-align: center;
    font-size: 1rem;
    padding: 1.25rem .25rem;
    margin: 0 .25rem; }

  #icons {
    margin: .5rem 1rem; } }
footer {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: .9rem;
  text-align: center;
  padding: 0 0 .5rem; }

#projDesc a[target="_blank"]:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: .8rem;
  color: #58A4B0;
  content: " \f35d"; }

/*# sourceMappingURL=stylesheet-alt.css.map */