// SCSS variables and general content styles

$light: #FF847D;
$medium: #A96A9C;
$dark: #475879;
$shadow: #2F4858;

$display: 'Press Start 2P', sans-serif;
$body: 'Montserrat', sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(195deg, $light, $medium, $dark) fixed;
  min-height: 100%;
  font-size: 100%;
}

// Header styles

header {
  width: 96%;
  margin: 0 auto .5rem;
}

h1 {
  min-width: 15em;
  display: inline-block;
  color: white;
  font-size: 1.5rem;
  font-family: $display;
  padding: 1.5rem 1rem .5rem;
  text-shadow: 5px 5px $shadow;
}

h2 {
  font-family: $body;
  padding: 0 1rem .5rem;
  color: white;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 200;
  text-shadow: 2px 2px $shadow;
}

#icons {
  float: right;
  margin: 1rem;
  display: inline-flex;
  flex-direction: row;
  i {
    padding: 0 .5rem;
    color: $shadow;
    &:hover {
      color: white;
      animation: wiggle .5s linear;
    }
    transition: color .25s linear;
  }
}

nav {
  clear: both;
  background-color: $dark;
  border: .25rem solid $light;
  box-shadow: 5px 5px $shadow;  
  padding: 0 1rem;
  border-radius: 1rem;
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  a {
    color: $light;
    text-decoration: none;
  }
  li {
    font-size: 1.25rem;
    list-style: none;
    padding: 1.25rem .25rem;
    margin: 0 1rem;
    font-family: $body;
    text-shadow: 2px 2px $shadow;
    color: $light;
    &:hover {
      color: white;
      animation: bounce .5s linear;
    }
    transition: color 0.25s ease-out;
  }
}

// Animation keyframes

@keyframes bounce {
  0% {
    transform: translateY(0)
  }
  10% {
    transform: translateY(2px)
  }
  15% {
    transform: translateY(1px)
  }
  25% {
    transform: translateY(0)
  }
  50% {
    transform: translateY(-5px)
  }
  100% {
    transform: translateY(0)
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(5deg)
  }
  10% {
    transform: rotate(10deg)
  }
  20% {
    transform: rotate(5deg)
  }
  30% {
    transform: rotate(0)
  }
  40% {
    transform: rotate(-5deg)
  }
  50% {
    transform: rotate(-10deg)
  }
  60% {
    transform: rotate(-5deg)
  }
  70% {
    transform: rotate(0)
  }
  80% {
    transform: rotate(5deg)
  }
  90% {
    transform: rotate(2.5deg)
  }
  100% {
    transform: rotate(0)
  }
}

// Navigation media queries

@media(max-width:470px) {
  nav ul {
    li {
      text-align: center;
      font-size: 1rem;
      padding: 1.25rem .25rem;
      margin: 0 .25rem;
    }
  }
}

// Footer styles

footer {
  font-family: $body;
  color: white;
  font-size: .9rem;
  text-align: center;
  padding: 0 0 .5rem;
}

